@model DAW_Pets.Models.Persona
<section class="container py-4">
    <div class="row">
        <div class="col-md-6">
            <h4>Registrar Nuevo Usuario</h4>
        </div>
        <div class="col-md-6">
            <p class="text-end"><i class="fa fa-2x fa-bone"></i></p>
        </div>
        <hr />
        @{await Html.RenderPartialAsync("_Register", new Persona() { Estado = 1 });}
    </div>
</section>