
@{
    ViewData["Title"] = "Index";
}
<style>
    .text-black {
        color: black !important;
    }

    .carousel-img {
        background-color: #6ed7ea;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .carousel {
        margin-bottom: 2rem !important;
    }
</style>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active carousel-img" style="background-image: url('@Url.Content("~/img/bn7.jpg")');
        background-color: #fdd72e;
        background-position: left;">
            <div class="container">
                <div class="carousel-caption text-end text-black">
                    <h1>No se puede comprar la felicidad ...</h1>
                    <p>Pero puedes adoptar un amigo peludo, que es lo mismo.</p>
                    <p><a class="btn btn-lg btn-light" href="#">¡Adópta!</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item carousel-img" style="background-image: url('@Url.Content("~/img/bn3.jpg")');
        background-color: #ffa101;
        background-position: left;
">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Adopta</h1>
                    <p>Escribe una historia de vida junto a ellos ...</p>
                    <p><a class="btn btn-lg btn-light" href="#">Ver más</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item carousel-img" style="background-image: url('@Url.Content("~/img/bn6.jpg")');
        background-color: #5ba0ca;
        background-position: right;
">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Ayúdalos a regresar a casa</h1>
                    <p>Forma parte del reencuentro con sus familias...</p>
                    <p><a class="btn btn-lg btn-light" href="#">Ver más</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Features section-->
<section class="border-bottom justify-content-center" id="features">
    <div class="text-center mb-5">
        <h1 class="fw-bolder text-black">Servicios</h1>
    </div>
    <div class="container px-5 my-5 text-center">
        <div class="row gx-5">
            <div class="col-lg-2 mb-5 mb-lg-0"></div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-gradient-primary bg-gradient text-white rounded-3 mb-3"><i class="fa fa-heart fa-5x py-5"></i></div>
                <h2 class="h4 fw-bolder">Adopción</h2>
                <p>Adopta un peludo e inicia una historia de complicidad juntos.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-gradient-primary bg-gradient text-white rounded-3 mb-3"><i class="fa fa-search fa-5x py-5"></i></div>
                <h2 class="h4 fw-bolder">Búsqueda</h2>
                <p>¡Hey! hay peludos perdidos que necesitan de nuestra ayuda.</p>
            </div>
            <div class="col-lg-2 mb-5 mb-lg-0"></div>
        </div>
    </div>
</section>

