<style>
   .badge-pets {
        position: relative;
        top: 30px;
    }

    .badge-border-warning {
        border: 8px solid;
        border-color: #f6c23e;
    }

    .badge-border-danger {
        border: 8px solid;
        border-color: #e74a3b;
    }
</style>
<section class="py-5 border-bottom" id="wall">
    <div class="text-center mb-5">
        <h1 class="fw-bolder text-black">Muro De Mascotas</h1>
        <p class="lead mb-0">¡Echa un vistazo a nuestros amigos peludos!</p>
    </div>
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="text-center">
                    <h5 class="badge bg-danger text-light rounded-pill badge-pets">Me Perdí</h5>
                    <p></p>
                    <img class="img-fluid rounded-circle mb-4 badge-border-danger" src="https://www.androidfreeware.net/img2/com-dogsimulator-rottweiler.jpg" alt="...">
                </div>
                <h2 class="h4 fw-bolder">Rocky</h2>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    ¡Conóceme!
                </button>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="text-center">
                    <h5 class="badge bg-warning text-dark rounded-pill badge-pets">Adóptame</h5>
                    <p></p>
                    <img class="img-fluid rounded-circle mb-4 badge-border-warning" src="https://gamehag.com/static/avatar/1914105_max.jpg" alt="...">
                </div>
                <h2 class="h4 fw-bolder">Duque</h2>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">¡Conóceme!</a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="text-center">
                    <h5 class="badge bg-danger text-light rounded-pill badge-pets">Me Perdí</h5>
                    <p></p>
                    <img class="img-fluid rounded-circle mb-4 badge-border-danger" src="https://pbs.twimg.com/profile_images/617810672953364480/FPDye7YZ_400x400.jpg" alt="...">
                </div>
                <h2 class="h4 fw-bolder">Max</h2>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">¡Conóceme!</a>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-paw"></i> Acerca de mi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 bg-warning">
                        <img class="img-fluid rounded-circle mb-4" src="https://www.androidfreeware.net/img2/com-dogsimulator-rottweiler.jpg" alt="...">
                        <h2 class="fw-bolder text-black">Sobre mí</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                        <hr class="featurette-divider">
                    </div>
                    <div class="col-md-8">
                        <h1 class="fw-bolder text-black">Rocky</h1>
                        <h2 class="fw-bolder text-black">Experiencia</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                        <h2 class="fw-bolder text-black">Habilidades</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                        <div class="row">
                            <div class="col-md-3"><h6>Tranquilidad</h6></div>
                            <div class="col-md-9">
                                <div class="progress">
                                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><h6>Independencia</h6></div>
                            <div class="col-md-9">
                                <div class="progress">
                                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><h6>Cariño</h6></div>
                            <div class="col-md-9">
                                <div class="progress">
                                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>
                            </div>
                        </div>                        
                        <h2 class="fw-bolder text-black">Intereses</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h3 class="fw-bolder text-black">Cámbiale la vida</h3>
                <a class="btn btn-secondary" href="#">Adóptame</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>