<section class="py-5 border-bottom" id="wall">
    <div class="text-center mb-5">
        <h1 class="fw-bolder text-black">Muro De Mascotas</h1>
        <p class="lead mb-0">¡Echa un vistazo a nuestros amigos peludos!</p>
    </div>
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="text-center">
                    <h4><span class="badge badge-danger badge-pets">Me perdí</span></h4>
                    <img class="img-fluid rounded-circle mb-4 badge-border-danger" src="https://www.androidfreeware.net/img2/com-dogsimulator-rottweiler.jpg" alt="...">
                </div>
                <h2 class="h4 fw-bolder">Rocky</h2>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">¡Conóceme!</a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="text-center">
                    <h4><span class="badge badge-warning text-black badge-pets">Adóptame</span>    </h4>
                    <img class="img-fluid rounded-circle mb-4 badge-border-warning" src="https://gamehag.com/static/avatar/1914105_max.jpg" alt="...">
                </div>
                <h2 class="h4 fw-bolder">Duque</h2>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">¡Conóceme!</a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="text-center">
                    <h4><span class="badge badge-danger badge-pets">Me perdí</span></h4>
                    <img class="img-fluid rounded-circle mb-4 badge-border-danger" src="https://pbs.twimg.com/profile_images/617810672953364480/FPDye7YZ_400x400.jpg" alt="...">
                </div>
                <h2 class="h4 fw-bolder">Max</h2>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">¡Conóceme!</a>
            </div>
        </div>
    </div>
</section>